groq==0.9.0
instaloader==4.12
ipython==8.20.0
matplotlib
numpy==1.23.5
opencv_python==4.9.0.80
pandas==2.2.2
Pillow==10.4.0
Requests==2.32.3
scikit_learn==1.2.2
sentence_transformers==3.0.1
streamlit==1.36.0
torch==2.2.2
torchvision==0.17.2
tqdm==4.65.0
transformers==4.42.4
